<div class="message-table">
  <div class='scroll'>
    <div class='gravatar'>
      <%= gravatar_for message.user %>
    </div>
    <div class="text-message">
      <span class="text-muted"><%= message.user.name %> at <%= message.timestamp %> says</span><br>
      <p>
        <%= message.body %>
      </p>
    </div>
  </div>
</div>