#navbar {
    background-color: #254559;
    // background-color: rgba(167, 152, 152, 0.068);
    height: 70px;
}

.navbar-brand {
   img {
        width: 180px;
        margin-left: 50px;
    }
    
}